---
import Base from '@layouts/Base.astro';
import Login from '@components/auth/Login';
---

<Base title='Welcome to Astro.'>
  <div class='h-[870px] flex justify-center bg-gray-300'>
    <Login />
  </div>
</Base>
