---
import Base from '@layouts/Base.astro';
import Login from '@components/auth/Login';
---

<Base title='Welcome to Astro.'>
  <div class='h-[800px] flex justify-center items-center'>
    <Login />
  </div>
</Base>
