---
import Base from '../../layouts/Base.astro';
import LoginF from './components/LoginF';
---

<Base title='Welcome to Astro.'>
  <div class='h-[800px] flex justify-center items-center'>
    <LoginF />
  </div>
</Base>
