---
import Base from '@layouts/Base.astro';
import Login from '@components/auth/Login';
---

<Base title='Welcome to Astro.'>
  <div class='h-min-full flex justify-center items-center bg-background mb-20'>
    <Login />
  </div>
</Base>
