---
import Base from '@layouts/Base.astro';
import Login from '@components/auth/login/Login';
import PageViewCollection from '../../components/home/PageViewCollection';
---

<Base title='Login'>
  <PageViewCollection page='Login' client:load />
  <div class='h-min-full flex justify-center items-center bg-background mb-20'>
    <Login client:load />
  </div>
</Base>
