---
import Base from '@layouts/Base.astro';
import Roadmap from '@components/roadmap/Roadmap';
const { id } = Astro.params;
// here we should get the data for the actual roadmap
const data = { id: '123' };
---

<Base title='Welcome to Astro.'>
  <div class='text-6xl'>Roadmap</div>

  <div class='text-4xl text-black'>
    {id}
  </div>
  <div>
    <Roadmap client:load />
  </div>
</Base>
