---
import Base from '@layouts/Base.astro';
const { id } = Astro.params;
// here we should get the data for the actual roadmap
const data = { id: '123' };
console.log(data);
console.log(Astro.params);
---

<Base title='Welcome to Astro.'>
  <div class='text-6xl'>Roadmap</div>

  <div class='text-4xl text-black'>
    {id}
  </div>
</Base>
