---
import Base from '@layouts/Base.astro';
import Roadmap from '@components/roadmap/Roadmap';
import Roadmap from '../../components/roadmap/Roadmap';
import Sidebar from '@components/roadmap/sidebar/Sidebar';
import Tab from '@components/roadmap/Tab';
import Roadmap from '../../components/roadmap/Roadmap';
const { id } = Astro.params;
// here we should get the data for the actual roadmap_static
const data = { id: '123' };
---

<Base title='Welcome to Astro.'>
  <div class='absolute w-full top-0 h-16 bg-white z-[-10]'></div>

  <div class='h-[calc(100vh-64px)] relative'>
    <!-- offset from nav reduced from total screen size -->
    <div class='ml-20 w-full h-full'>
      <Roadmap pageId={id} client:load />
    </div>
    <div class=''>
      <Sidebar client:idle />
    </div>
    <div class=''>
      <Tab client:idle />
    </div>
  </div>
</Base>
