---
import Base from '@layouts/Base.astro';
import Roadmap from '@components/roadmap/Roadmap';
import Sidebar from '@components/roadmap/Sidebar';
const { id } = Astro.params;
// here we should get the data for the actual roadmap
const data = { id: '123' };
---

<Base title='Welcome to Astro.'>
  <div class='ml-20 w-full h-screen'>
    <Roadmap client:load />
  </div>
  <div>
    <Sidebar client:load />
  </div>
</Base>
