---
import Base from '@layouts/Base.astro';
import Roadmap from '@components/roadmap/Roadmap';
const { id } = Astro.params;
// here we should get the data for the actual roadmap
const data = { id: '123' };
---

<Base title='Welcome to Astro.'>
  <div class='h-full absolute left-0 bg-white w-20 z-0'></div>
  <div class='h-20 absolute top-0 bg-white w-full z-[-10]'></div>

  <div class='w-full h-screen ml-20 border-2 border-textmain'>
    <Roadmap client:load />
  </div>
</Base>
