---
import Base from '@layouts/Base.astro';
import TopBarRoadmap from '../../components/roadmap/top-bar/TopBarRoadmap';
import Roadmap from '@components/roadmap/Roadmap';
import SideBar from '../../components/roadmap/sidebar/SideBar';
import SideBarMobile from '../../components/roadmap/sidebar/SideBarMobile';
import TabManager from '../../components/roadmap/TabManager';

const { id } = Astro.params;
// here we should get the data for the actual roadmap_static
const isCreate = id === 'create';
---

<Base title='Welcome to Astro.' excludeFooter={true}>
  <div class='absolute w-full top-0 h-16 bg-white z-[-10]'></div>

  <div class='h-[calc(100vh-64px)] md:mt-0 relative w-full'>
    <!-- offset from nav reduced from total screen size -->
    <div class='md:ml-20 h-full relative'>
      <TopBarRoadmap client:idle />
      <Roadmap pageId={id} client:idle />
    </div>

    <div class='hidden opacity-100 bg-white md:block'>
      <SideBar isCreate={isCreate} client:idle />
    </div>
    <div class='block opacity-100 md:hidden'>
      <SideBarMobile isCreate={isCreate} client:idle />
    </div>
    <div class=''>
      <TabManager client:idle />
    </div>
  </div>
</Base>
