---
import HeroRotate from "../HeroRotate";
---

<div class="flex flex-col items-center bg-green-500 h-[560px] mt-8">
    <div class="flex flex-col text-center w-64 font-kanit-text mt-1">
        <h1 class="text text-3xl">Navigo Learn</h1>
        <p class="mt-4 text-xs">The place you can learn anything through organized roadmaps that will guide you in your journey</p>
    </div>
    <div class="mt-12">
        <HeroRotate scale={0.3} animSpeed={2} client:load/>
    </div>
</div>