---
import contribute from "@assets/contribute.svg";
import bulb from "@assets/bulb.svg";
import book from "@assets/book.svg";
---

<div class="bg-[#0B1C2C] flex flex-col items-center h-[1190px] text-white">
    <svg class="w-64 h-7">
        <circle cx="50%" cy="0%" r="5" fill="#ECEFF2"/>
    </svg>
    <div class="flex items-center flex-col w-64 text-center font-kanit-text">
        <img src={bulb} alt="createIconForLanding" class="h-20 w-20">
        <h1 class="text-3xl">Create</h1>
        <p class="mt-5 text-base">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu elit lacus. Nunc pellentesque lacus risus, eget porttitor tortor tempus non. Morbi vehicula lobortis dignissim. Integer dignissim tempor orci sed finibus. Morbi varius, metus et pulvinar </p>
    </div>
    <div class="flex items-center flex-col w-64 text-center font-kanit-text mt-9">
        <img src={book} alt="createIconForLanding" class="h-20 w-20">
        <h1 class="text-3xl">Learn</h1>
        <p class="mt-5 text-base">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu elit lacus. Nunc pellentesque lacus risus, eget porttitor tortor tempus non. Morbi vehicula lobortis dignissim. Integer dignissim tempor orci sed finibus. Morbi varius, metus et pulvinar </p>
    </div>
    <div class="flex items-center flex-col w-64 text-center font-kanit-text mt-9">
        <img src={contribute} alt="createIconForLanding" class="h-20 w-20">
        <h1 class="text-3xl">Contribute</h1>
        <p class="mt-5 text-base">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu elit lacus. Nunc pellentesque lacus risus, eget porttitor tortor tempus non. Morbi vehicula lobortis dignissim. Integer dignissim tempor orci sed finibus. Morbi varius, metus et pulvinar </p>
    </div>
    <svg class="w-64">
        <circle cx="50%" cy="30" r="5" fill="#ECEFF2"/>
        <circle cx="45%" cy="70" r="5" fill="#ECEFF2"/>
        <circle cx="46.5%" cy="100%" r="5" fill="#ECEFF2"/>
    </svg>
</div>