---
import contribute from '@assets/contribute.svg';
import bulb from '@assets/bulb.svg';
import book from '@assets/bookwhite.svg';
---

<div class='bg-[#0B1C2C] flex flex-col items-center h-[1190px] text-white'>
  <svg class='w-64 h-7'>
    <circle cx='50%' cy='0%' r='5' fill='#ECEFF2'></circle>
  </svg>
  <div class='flex items-center flex-col w-64 text-center font-kanit-text'>
    <img draggable="false" src={bulb} alt='createIconForLanding' class='h-20 w-20 select-none' />
    <h1 class='text-3xl'>Create</h1>
    <p class='mt-5 text-base'>
      Share your knowledge with the world. Create a roadmap to help others learn
      and build a community around a certain topic you are all passionate about.
    </p>
  </div>
  <div class='flex items-center flex-col w-64 text-center font-kanit-text mt-9'>
    <img draggable="false" src={book} alt='createIconForLanding' class='h-20 w-20 select-none' />
    <h1 class='text-3xl'>Learn</h1>
    <p class='mt-5 text-base'>
      Learn from the best. Follow roadmaps created by very passionate people who
      are trying to help you learn and grow. Start your learning journey now and
      who knows, maybe you will be the next creator.
    </p>
  </div>
  <div class='flex items-center flex-col w-64 text-center font-kanit-text mt-9'>
    <img draggable="false" src={contribute} alt='createIconForLanding' class='h-20 w-20 select-none' />
    <h1 class='text-3xl'>Contribute</h1>
    <p class='mt-5 text-base'>
      Help others learn. Contribute to roadmaps by adding resources and courses
      to help others learn. You can also add your own courses and resources to
      help others learn.
    </p>
  </div>
  <svg class='w-64'>
    <circle cx='50%' cy='30' r='5' fill='#ECEFF2'></circle>
    <circle cx='45%' cy='70' r='5' fill='#ECEFF2'></circle>
    <circle cx='46.5%' cy='100%' r='5' fill='#ECEFF2'></circle>
  </svg>
</div>
