<div class="h-[900px] 2xl:h-[1000px] flex items-center flex-col">
    <svg class="w-64 h-12">
        <circle cx="46.5%" cy="0%" r="5" fill="#0B1C2C"/>
        <circle cx="45%" cy="40" r="5" fill="#0B1C2C"/>
    </svg>
    <div class="overflow-hidden w-full">
        <div class="flex justify-start">
            <div class="bg-gradient-to-tr from-background to-transparent absolute h-[500px] z-10"/>
            <div class="nodes 2xl:text-lg">
                <h1 class="absolute bg-background border border-primary w-24 h-5 rounded-md flex justify-center items-center text-xs ml-20 mt-20 bigger-nodes:w-32 bigger-nodes:h-6 bigger-nodes:ml-28">Who</h1>
                <h1 class="absolute bg-background border border-primary w-24 h-5 rounded-md flex justify-center items-center text-xs ml-40 mt-36 bigger-nodes:w-32 bigger-nodes:h-6 bigger-nodes:ml-56">are</h1>
                <h1 class="absolute bg-background border border-primary w-24 h-5 rounded-md flex justify-center items-center text-xs ml-28 mt-52 bigger-nodes:w-32 bigger-nodes:h-6 bigger-nodes:ml-40">we?</h1>
                <svg width="300" height="400" class="absolute -z-10"><line x1="0" y1="165" x2="180" y2="220" stroke="black"/></svg>
                <svg width="300" height="400" class="absolute -z-10"><line x1="0" y1="150" x2="225" y2="155" stroke="black"/></svg>
                <svg width="210" height="400" class="absolute -z-10"><line x1="0" y1="135" x2="140" y2="90" stroke="black"/></svg>
                <span style="--i:9"></span>
                <span style="--i:17"></span>
                <span style="--i:14"></span>
                <span style="--i:24"></span>
                <span style="--i:20"></span>
                <span style="--i:15"></span>
                <span style="--i:25"></span>
                <span style="--i:13"></span>
            </div>
        </div>
    </div>
    <svg class="w-64 h-16">
        <circle cx="50%" cy="5" r="5" fill="#0B1C2C"/>
        <circle cx="45%" cy="45" r="5" fill="#0B1C2C"/>
    </svg>
    <div class="flex justify-center items-center text-center font-kanit-text flex-col w-72">
        <h1 class="text-3xl">Who are we?</h1>
        <p class="mt-2">We are a group of four University students in Cluj-Napoca, Romania passionate about technology and learning. We created NavigoLearn as a way to help people share their knowledge and experience, as well as help new learners find their way in programming.</p>
    </div>
    <svg class="w-64 h-28">
        <circle cx="50%" cy="10" r="5" fill="#0B1C2C"/>
        <circle cx="52%" cy="50" r="5" fill="#0B1C2C"/>
        <circle cx="50%" cy="90" r="5" fill="#0B1C2C"/>
    </svg>
    <div class="flex justify-center items-center">
        <a href="/explore" class="font-kanit text-base bg-primary h-10 w-40 rounded-lg flex justify-center border-2 items-center text-white hover:border-[#0B1C2C] hover:text-[#0B1C2C] transition duration-200">Start Now</a>
    </div>
</div>


<!-- w:75 h-17 -->

<style>
    .nodes {
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .nodes span {
        position: relative;
        width: 75px;
        height: 17px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        border: 1px solid black;
        margin: 10px;
        animation: animate 15s linear infinite;
        animation-duration: calc(250s / var(--i));
        z-index: -100;
        opacity: 1;
    }
    @keyframes animate  {
        0% {
            transform: translateX(100vh);
        }
        100% {
            opacity: 0; /* Set opacity to 0 (fully transparent) */
        }
    }
</style>