---
import Base from '@layouts/Base.astro';
import Profile from '@components/profile/Profile';
import user from '@store/userStore';
const { id } = Astro.params;
// request for user data
// const user = ...
console.log(Astro.params);
user.set({ id, name: 'nano', email: 'gooduser@gmail.com' });
---

<Base title='Welcome to Astro.'>
  <div class='text-6xl'>Profile</div>
  <div class='text-6xl'>{id}</div>
  <div>
    <Profile />
  </div>
</Base>
