@tailwind base;
@tailwind components;
@tailwind utilities;


.fadeInAnimation {
    animation: fadeIn 0.5s ease-in-out;
}

.fadeOutAnimation {
    animation: fadeOut 0.5s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
