---
import Base from '@layouts/Base.astro';
import HeroRotate from '../../components/home/HeroRotate';
import FirstSection from '@components/home/desktop/FirstSection.astro';
import SecondSection from '@components/home/desktop/SecondSection.astro';
import ThirdSection from '@components/home/desktop/ThirdSection.astro';
import FirstSectionM from '@components/home/mobile/FirstSectionM.astro';
import SecondSectionM from '@components/home/mobile/SecondSectionM.astro';
import ThirdSectionM from '@components/home/mobile/ThirdSectionM.astro';
---

<Base title='Welcome to Astro.'>
  <div class="hidden mobile-landing:block">
    <FirstSection />
    <SecondSection />
    <ThirdSection />
  </div>
  <div class="mobile-landing:hidden">
    <FirstSectionM />
    <SecondSectionM />
    <ThirdSectionM />
  </div>
</Base>
