---
import Base from '@layouts/Base.astro';
import HeroRotate from '../../components/home/HeroRotate';
---

<Base title='Welcome to Astro.'>
  <div class='flex justify-center items-center w-full border-2 border-black'>
    <HeroRotate scale={1} animSpeed={0.5} client:load />
  </div>
</Base>
