---
import HeroWrapper from '../HeroWrapper';
import landing1 from '@assets/Landing1.svg';
---

<div class='w-full h-[500px] flex justify-center 2xl:[600px] bg-background'>
  <div
    class='flex justify-between mt-20 landing-min:mx-16 mx-5 w-[1370px] 2xl:w-[1450px]'
  >
    <div
      class='flex justify-center items-center flex-col landing-min:w-[300px] 2xl:w-[400px] space-y-6 font-kanit-text w-[200px] ml-20 landing-min:ml-0ยง'
    >
      <h1
        class='text-center landing-min:text-5xl text-3xl 2xl:text-6xl text-main 2xl:mb-4'
      >
        Navigo learn
      </h1>
      <p
        class='text-center landing-min:text-xl landing-min:w-[450px] text-lg w-[350px] text-secondary 2xl:text-2xl 2xl:w-[550px]'
      >
        The place you can learn anything through organized roadmaps that will
        guide you in your journey
      </p>
    </div>
    <svg class='w-2/6 mx-16 -mt-2 ml-24'>
      <circle cx='10%' cy='250' r='6' fill='#0B1C2C'></circle>
      <circle cx='26%' cy='220' r='6' fill='#0B1C2C'></circle>
      <circle cx='42.5%' cy='210' r='6' fill='#0B1C2C'></circle>
      <circle cx='60%' cy='214' r='6' fill='#0B1C2C'></circle>
      <circle cx='76%' cy='230' r='6' fill='#0B1C2C'></circle>
      <circle cx='92%' cy='255' r='6' fill='#0B1C2C'></circle>
    </svg>
    <div>
      <HeroWrapper flag={'desktop'} client:load />
    </div>
  </div>
</div>
<div class='h-24 flex justify-center bg-background'>
  <div class='w-[1370px] 2xl:w-[1450px]'>
    <svg class='w-full h-full'>
      <circle cx='77%' cy='50%' r='6' fill='#0B1C2C'></circle>
      <circle cx='76.5%' cy='100%' r='6' fill='#0B1C2C'></circle>
    </svg>
  </div>
</div>
