---
import contribute from '@assets/contribute.svg';
import bulb from '@assets/bulb.svg';
import book from '@assets/bookwhite.svg';
---

<div class='bg-[#0B1C2C] w-full 2xl:h-[1030px] landing-min:h-[900px] h-[870px]'>
  <div
    class='text-white landing-min:text-4xl text-3xl 2xl:text-5xl font-kanit-text flex flex-col'
  >
    <div class='h-44 flex justify-center'>
      <div class='w-[1370px] 2xl:w-[1450px]'>
        <svg class='w-full h-full'>
          <circle cx='76.5%' cy='0%' r='6' fill='#ECEFF2'></circle>
          <circle cx='75%' cy='22%' r='6' fill='#ECEFF2'></circle>
          <circle cx='71.3%' cy='31%' r='6' fill='#ECEFF2'></circle>
          <circle cx='66.9%' cy='39%' r='6' fill='#ECEFF2'></circle>
          <circle cx='62.5%' cy='50%' r='6' fill='#ECEFF2'></circle>
          <circle cx='58%' cy='67%' r='6' fill='#ECEFF2'></circle>
          <circle cx='54%' cy='86%' r='6' fill='#ECEFF2'></circle>
        </svg>
      </div>
    </div>
    <div class='flex justify-center'>
      <p class='text-center w-[550px] leading-relaxed mt-30 2xl:w-[700px]'>
        The journey of 1000 miles starts <br />
        with 1 roadmap
      </p>
    </div>
    <div class='h-44 flex justify-center -mt-12'>
      <div class='w-[1370px] 2xl:w-[1450px]'>
        <svg class='w-full h-full'>
          <circle cx='50.5%' cy='39%' r='6' fill='#ECEFF2'></circle>
          <circle cx='50%' cy='74%' r='6' fill='#ECEFF2'></circle>
          <circle cx='35%' cy='10%' r='6' fill='#ECEFF2'></circle>
          <circle cx='30.5%' cy='34%' r='6' fill='#ECEFF2'></circle>
          <circle cx='25.5%' cy='53%' r='6' fill='#ECEFF2'></circle>
          <circle cx='21%' cy='79%' r='6' fill='#ECEFF2'></circle>

          <circle cx='64.5%' cy='10%' r='6' fill='#ECEFF2'></circle>
          <circle cx='69%' cy='34%' r='6' fill='#ECEFF2'></circle>
          <circle cx='74%' cy='53%' r='6' fill='#ECEFF2'></circle>
          <circle cx='78.5%' cy='79%' r='6' fill='#ECEFF2'></circle>
        </svg>
      </div>
    </div>
  </div>
  <div class='flex justify-center items-center'>
    <div class='grid grid-cols-3 items-start text-white gap-36 2xl:gap-44'>
      <div class='flex justify-center items-center flex-col'>
        <img draggable="false" src={bulb} alt='lighBulb' class='w-24 h-24 2xl:w-32 2xl:h-32 select-none' />
        <h1
          class='landing-min:text-3xl text-2xl font-kanit-text mt-2 2xl:text-4xl'
        >
          Create
        </h1>
        <p
          class='text-center landing-min:w-72 w-56 font-kanit-text landing-min:text-2xl text-xl mt-16 2xl:text-3xl 2xl:w-[350px]'
        >
          Share your knowledge with the world. Ignite your passion. Create a roadmap to help others learn and grow. You can also create a roadmap for yourself to keep track of your learning journey.
        </p>
      </div>
      <div class='flex justify-center items-center flex-col'>
        <img draggable="false" src={book} alt='learnBook' class='w-24 h-24 2xl:w-32 2xl:h-32 select-none' />
        <h1
          class='landing-min:text-3xl text-2xl font-kanit-text mt-2 2xl:text-4xl'
        >
          Learn
        </h1>
        <p
          class='text-center landing-min:w-72 w-56 font-kanit-text landing-min:text-2xl text-xl mt-16 2xl:text-3xl 2xl:w-[350px]'
        >
          Learn from the best. Follow roadmaps created by enthusiastic people
          who are trying to help you learn and grow. Start your learning journey
          now and who knows, maybe you will be the next creator.
        </p>
      </div>
      <div class='flex justify-center items-center flex-col'>
        <img draggable="false"
          src={contribute}
          alt='peopleAtDesk'
          class='w-24 h-24 2xl:w-32 2xl:h-32 select-none'
        />
        <h1
          class='landing-min:text-3xl text-2xl font-kanit-text mt-2 2xl:text-4xl'
        >
          Contribute
        </h1>
        <p
          class='text-center landing-min:w-72 w-56 font-kanit-text landing-min:text-2xl text-xl mt-16 2xl:text-3xl 2xl:w-[350px]'
        >
        Support learning journeys. Feel free to empower others in their learning endeavors
        by adding relevant resources and courses. You can also showcase your own expertise.
        </p>
      </div>
    </div>
  </div>
</div>
<div class='h-96 flex justify-center bg-[#0B1C2C]'>
  <div class='w-[1370px] 2xl:w-[1450px]'>
    <svg class='w-full h-full'>
      <circle cx='19.4%' cy='4%' r='6' fill='#ECEFF2'></circle>
      <circle cx='22.2%' cy='15.9%' r='6' fill='#ECEFF2'></circle>
      <circle cx='27.3%' cy='21%' r='6' fill='#ECEFF2'></circle>
      <circle cx='32.3%' cy='22%' r='6' fill='#ECEFF2'></circle>
      <circle cx='37.3%' cy='29%' r='6' fill='#ECEFF2'></circle>
      <circle cx='42%' cy='39%' r='6' fill='#ECEFF2'></circle>
      <circle cx='45.5%' cy='50%' r='6' fill='#ECEFF2'></circle>
      <circle cx='48%' cy='60%' r='6' fill='#ECEFF2'></circle>

      <circle cx='79.5%' cy='5%' r='6' fill='#ECEFF2'></circle>
      <circle cx='76.7%' cy='15.9%' r='6' fill='#ECEFF2'></circle>
      <circle cx='71.6%' cy='21%' r='6' fill='#ECEFF2'></circle>
      <circle cx='66.6%' cy='22%' r='6' fill='#ECEFF2'></circle>
      <circle cx='61.6%' cy='29%' r='6' fill='#ECEFF2'></circle>
      <circle cx='56.9%' cy='39%' r='6' fill='#ECEFF2'></circle>
      <circle cx='53.4%' cy='50%' r='6' fill='#ECEFF2'></circle>
      <circle cx='50.9%' cy='60%' r='6' fill='#ECEFF2'></circle>

      <circle cx='49.5%' cy='6%' r='6' fill='#ECEFF2'></circle>
      <circle cx='49.3%' cy='18%' r='6' fill='#ECEFF2'></circle>
      <circle cx='49.3%' cy='32%' r='6' fill='#ECEFF2'></circle>
      <circle cx='49%' cy='46%' r='6' fill='#ECEFF2'></circle>
      <circle cx='49.4%' cy='69%' r='6' fill='#ECEFF2'></circle>
      <circle cx='50%' cy='80%' r='6' fill='#ECEFF2'></circle>
      <circle cx='49%' cy='90%' r='6' fill='#ECEFF2'></circle>

      <circle cx='47%' cy='100%' r='6' fill='#ECEFF2'></circle>
    </svg>
  </div>
</div>
