---
import Layout from '../layouts/Layout.astro';
import LoginF from '../components/LoginF';
---

<Layout title='Login'>
  <main>
    <section class="flex justify-center items-center h-screen bg-gray-300">
      <div class="bg-white rounded-3xl shadow-md h-auto w-80 py-10 px-10">
        <LoginF client:load/>
      </div>
    </section>
  </main>
</Layout>
