---
import Layout from '../layouts/Layout.astro';
import LoginF from '../components/LoginF';
---

<Layout title='Login'>
  <main>
    <div class="flex justify-center border-b-2">
      <div>
        <LoginF client:load/>
      </div>
    </div>
  </main>
</Layout>
