---
import HeroRotate from "./HeroRotate";
---
<div class="w-full h-[600px] flex justify-center">
    <div class="flex justify-between mt-20 landing-min:mx-16 mx-5 w-[1250px]">
        <div class="flex justify-center items-center flex-col landing-min:w-[300px] space-y-6 font-kanit-text w-[200px] ml-20 landing-min:ml-0ยง">
            <h1 class="text-center landing-min:text-5xl text-3xl text-main">Navigo learn</h1>
            <p class="text-center landing-min:text-xl landing-min:w-[450px] text-lg w-[350px] text-secondary">The place you can learn anything through organized roadmaps that will guide you in your journey</p>
        </div>
         <HeroRotate scale={0.55} animSpeed={0.5} client:load/>
    </div>
</div>