---
import HeroRotate from "./HeroRotate";
import landing1 from "@assets/Landing1.svg";
---
<div class="w-full h-[600px] flex justify-center 2xl:[700px]">
    <div class="flex justify-between mt-20 landing-min:mx-16 mx-5 w-[1250px] 2xl:w-[1450px]">
        <div class="flex justify-center items-center flex-col landing-min:w-[300px] 2xl:w-[400px] space-y-6 font-kanit-text w-[200px] ml-20 landing-min:ml-0ยง">
            <h1 class="text-center landing-min:text-5xl text-3xl 2xl:text-6xl text-main 2xl:mb-4">Navigo learn</h1>
            <p class="text-center landing-min:text-xl landing-min:w-[450px] text-lg w-[350px] text-secondary 2xl:text-2xl 2xl:w-[550px]">The place you can learn anything through organized roadmaps that will guide you in your journey</p>
        </div>
        <!-- <div class="absolute flex justify-center items-center ml-[470px] mt-[190px]">
            <div class="w-3 h-3 rounded-full bg-[#0B1C2C] mt-6 mr-12"/>
            <div class="w-3 h-3 rounded-full bg-[#0B1C2C] mb-4 mr-12"/>
            <div class="w-3 h-3 rounded-full bg-[#0B1C2C] mr-12 mb-8"/>
            <div class="w-3 h-3 rounded-full bg-[#0B1C2C] mr-12 mb-2"/>
            <div class="w-3 h-3 rounded-full bg-[#0B1C2C] mr-12 mt-10"/>
        </div> -->
         <HeroRotate scale={0.55} animSpeed={0.5} client:load/>
    </div>
</div>