---
import contribute from "@assets/contribute.svg";
import bulb from "@assets/bulb.svg";
import book from "@assets/book.svg";
---

<div class="h-[1370px] bg-[#0B1C2C] w-full">
    <div class="text-white flex justify-center landing-min:text-4xl text-3xl font-kanit-text h-1/6">
        <p class="text-center w-[550px] leading-relaxed mt-40">
            The journey of 1000 miles starts <br/>
            with 1 roadmap
        </p>
    </div>
    <div class="flex justify-center items-center mt-24">
        <div class="grid grid-cols-3 text-white mt-20 gap-36">
            <div class="flex justify-center items-center flex-col">
                <img src={bulb} alt="lighBulb" class="w-24 h-24">
                <h1 class="landing-min:text-3xl text-2xl font-kanit-text mt-2">Create</h1>
                <p class="text-center landing-min:w-72 w-56 font-kanit-text landing-min:text-2xl text-xl mt-16">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu elit lacus. Nunc pellentesque lacus risus, eget porttitor tortor tempus non. Morbi vehicula lobortis dignissim. Integer dignissim tempor orci sed finibus. Morbi varius, metus et pulvinar 
                </p>
            </div>
            <div class="flex justify-center items-center flex-col">
                <img src={book} alt="learnBook" class="w-24 h-24"/>
                <h1 class="landing-min:text-3xl text-2xl font-kanit-text mt-2">Learn</h1>
                <p class="text-center landing-min:w-72 w-56 font-kanit-text landing-min:text-2xl text-xl mt-16">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu elit lacus. Nunc pellentesque lacus risus, eget porttitor tortor tempus non. Morbi vehicula lobortis dignissim. Integer dignissim tempor orci sed finibus. Morbi varius, metus et pulvinar 
                </p>
            </div>
            <div class="flex justify-center items-center flex-col">
                <img src={contribute} alt="peopleAtDesk" class="w-24 h-24">
                <h1 class="landing-min:text-3xl text-2xl font-kanit-text mt-2">Contribute</h1>
                <p class="text-center landing-min:w-72 w-56 font-kanit-text landing-min:text-2xl text-xl mt-16">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu elit lacus. Nunc pellentesque lacus risus, eget porttitor tortor tempus non. Morbi vehicula lobortis dignissim. Integer dignissim tempor orci sed finibus. Morbi varius, metus et pulvinar 
                </p>
            </div>
        </div>
    </div>
</div>