---
import mask from "@assets/LandingMask.svg";
---

<div class="h-[900px] 2xl:h-[1000px]">
    <div class="h-44 flex justify-center from-background">
        <div class="w-[1370px] 2xl:w-[1450px]">
            <svg class="w-full h-full">
                <circle cx="47%" cy="0%" r="6" fill="#0B1C2C"/>
                <circle cx="44%" cy="15%" r="6" fill="#0B1C2C"/>
                <circle cx="40%" cy="26%" r="6" fill="#0B1C2C"/>
                <circle cx="35%" cy="30%" r="6" fill="#0B1C2C"/>
                <circle cx="30%" cy="40%" r="6" fill="#0B1C2C"/>
                <circle cx="26.5%" cy="55%" r="6" fill="#0B1C2C"/>
                <circle cx="24%" cy="80%" r="6" fill="#0B1C2C"/>
            </svg>
        </div>
    </div>
    <div class="overflow-hidden flex justify-center">
        <div class="w-1/2 flex items-center absolute flex-col landing-min:mr-[700px] mr-[480px] 2xl:mr-[800px]">
            <h1 class="landing-min:text-4xl font-kanit-text text-3xl 2xl:text-5xl">Who are we?</h1>
            <p class="text-center landing-min:text-2xl landing-min:mt-7 text-xl mt-6 landing-min:w-[500px] w-[460px] 2xl:text-3xl 2xl:mt-8 2xl:w-[650px]">We are a group of four University students in Cluj-Napoca, Romania passionate about technology and learning. We created NavigoLearn as a way to help people share their knowledge and experience, as well as help new learners find their way in programming.</p>
        </div>
        <div class="w-full flex justify-end">
            <div class="w-1/2 overflow-hidden">
                <div class="bg-gradient-to-tr from-background to-transparent w-32 absolute h-[500px] z-10"/>
                <div class="nodes 2xl:text-lg">
                    <h1 class="w-44 h-10 2xl:w-48 2xl:h-11 flex bg-background justify-center items-center rounded-lg absolute mt-16 landing-min:ml-48 ml-40 border-primary border-2">Who</h1>
                    <h1 class="w-44 h-10 2xl:w-48 2xl:h-11 flex bg-background justify-center items-center rounded-lg absolute mt-48 landing-min:ml-96 2xl:ml-[400px] ml-72 border-primary border-2">are</h1>
                    <h1 class="w-44 h-10 2xl:w-48 2xl:h-11 flex bg-background justify-center items-center rounded-lg absolute mt-96 landing-min:ml-72 ml-60 border-primary border-2">we?</h1>
                    <h1 class="w-44 h-10 2xl:w-48 2xl:h-11 flex bg-background justify-center items-center rounded-lg absolute border-primary border-2 mt-48 -ml-24"></h1>
                    <svg width="675" height="400" class="absolute -z-10"><line x1="0" y1="215" x2="330" y2="400" stroke="black"/></svg>
                    <svg width="675" height="400" class="absolute -z-10"><line x1="0" y1="215" x2="400" y2="212" stroke="black"/></svg>
                    <svg width="675" height="400" class="absolute -z-10"><line x1="0" y1="215" x2="290" y2="70" stroke="black"/></svg>
                    <span style="--i:9"></span>
                    <span style="--i:17"></span>
                    <span style="--i:14"></span>
                    <span style="--i:24"></span>
                    <span style="--i:20"></span>
                    <span style="--i:15"></span>
                    <span style="--i:25"></span>
                    <span style="--i:13"></span>
                    <span style="--i:22"></span>
                    <span style="--i:11"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="h-80 flex justify-center bg-transparent -mt-60 landing-min:-mt-48 2xl:-mt-40">
        <div class="w-[1370px] 2xl:w-[1450px]">
            <svg class="w-full h-full">
                <circle cx="23%" cy="8%" r="6" fill="#0B1C2C"/>
                <circle cx="26%" cy="25%" r="6" fill="#0B1C2C"/>
                <circle cx="31%" cy="35%" r="6" fill="#0B1C2C"/>
                <circle cx="36%" cy="42%" r="6" fill="#0B1C2C"/>
                <circle cx="36%" cy="42%" r="6" fill="#0B1C2C"/>
                <circle cx="42%" cy="51%" r="6" fill="#0B1C2C"/>
                <circle cx="47%" cy="60%" r="6" fill="#0B1C2C"/>
                <circle cx="49%" cy="73%" r="6" fill="#0B1C2C"/>
                <circle cx="50%" cy="89%" r="6" fill="#0B1C2C"/>
            </svg>
        </div>
    </div>
    <div class="flex justify-center">
        <a href="" class="font-kanit text-xl bg-primary h-12 w-52 2xl:w-56 2xl:h-14 2xl:text-2xl rounded-lg flex justify-center border-2 items-center text-white hover:border-[#0B1C2C] hover:text-[#0B1C2C] transition duration-200">Start Now</a>
    </div>
</div>

<style>
    .nodes {
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .nodes span {
        position: relative;
        width: 130px;
        height: 28px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        border: 1px solid black;
        margin: 10px;
        animation: animate 15s linear infinite;
        animation-duration: calc(250s / var(--i));
        z-index: -100;
        opacity: 1;
    }
    @keyframes animate  {
        0% {
            transform: translateX(100vh);
        }
        100% {
            opacity: 0; /* Set opacity to 0 (fully transparent) */
        }
    }
</style>
  