---
import Base from '@layouts/Base.astro';
import Search from '@components/Search';
---

<Base title='Welcome to Astro.'>
    <div class='h-[2023px] bg-slate-200'>
      <Search client:load/>
    </div>
</Base>
