---
import Base from '@layouts/Base.astro';
import SignUp from '@components/auth/SignUp';
---

<Base title='Welcome to Astro.'>
  <div class='flex justify-center h-[930px] bg-gray-300'>
    <SignUp client:load />
  </div>
</Base>
