---
import Base from '@layouts/Base.astro';
import PageViewCollection from '../../components/home/PageViewCollection';
import SignUp from '@components/auth/signup/SignUp';
---

<Base title='SignUp'>
  <PageViewCollection page='SignUp' client:load />
  <div class='flex justify-center min-h-full mb-20 bg-backgorund'>
    <SignUp client:load />
  </div>
</Base>
