---
import Base from '@layouts/Base.astro';
import SignUp from '@components/SignUp';
---

<Base title='Welcome to Astro.'>
  <div class='flex justify-center items-center h-[800px]'>
    <SignUp client:load />
  </div>
</Base>
