---
import Navbar from '@components/navbar/Navbar';
import Error from '../components/roadmap/top-bar/Error';
import Footer from '@layouts/Footer.astro';
import RequestManager from '../components/misc/RequestManager';
import DataCollectionManager from '../components/misc/DataCollectionManager';

export interface Props {
  title: string;
  excludeFooter?: boolean;
}

const { title, excludeFooter } = Astro.props;

import '@fontsource/kanit';
import '@fontsource/roboto';
import '@fontsource/oxygen';
---

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class='bg-background relative w-screen max-w-full min-h-screen'>
    <DataCollectionManager client:load />
    <RequestManager client:load />
    <Navbar client:load />

    <slot />
    <div class='h-72'></div>
    {!excludeFooter && <Footer />}
    <div
      class='fixed top-[100px] flex justify-center w-full h-10 pointer-events-none'
    >
      <Error client:load />
    </div>
  </body>
</html>
